mfsmount /liz1 fuse rw,mfsdelayedinit,mfschunkserverwriteto=40000,mfsioretries=120,mfschunkserverconnectreadto=20000,mfschunkserverwavereadto=5000,mfschunkservertotalreadto=200000,mfswritecachesize=2048,nosuid,nodev,noatime,big_writes 0 0
